<% include partials/header %>

<div class="ftco-blocks-cover-1">
    <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
    <div class="site-section-cover overlay" data-stellar-background-ratio="0.5"
        style="background-image: url('/image/hero_1.jpg')">
        <div class="container">
            <div class="row align-items-center ">

                <div class="col-md-5 mt-5 pt-5">
                    <span class="text-cursive h5 text-red">Welcome To Our Website</span>
                    <h1 class="mb-3 font-weight-bold text-black">About Us</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/image/sjsu_logo.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 ml-auto pl-md-5">
                <span class="text-cursive h5 text-red">About Us</span>
                <h3 class="text-black">Coding lessons made for kids</h3>
                <p><span>We are a team of students from San Jose State University, who aspire to provide a platform for kids to learn coding. 
                    In recent years, coding and learning camps have started to rise in popularity, especially in tech cities. 
                    We believe that learning starts early, and we hope that our content will be able to help kids learn effectively.</span></p>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-teal">
    <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
            <div class="col-md-6">
                <span class="text-cursive h5 text-red">The Team</span>
                <h3 class="text-white text-center">Meet The Team</h3>
            </div>
        </div>
        <div class="row align-items-stretch">

            <div class="col-lg-6 col-md-6 mb-5">
                <div class="post-entry-1 h-100 person-1 teal">

                    <img src="/image/benny.jpg" alt="Image" class="img-fluid">

                    <div class="post-entry-1-contents">
                        <span class="meta">Founder</span>
                        <h2>Benny Ooi</h2>
                        <p>Software Engineering </br>Undergraduate</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5">
                <div class="post-entry-1 h-100 person-1 yellow">

                    <img src="/image/ben.jpg" alt="Image" class="img-fluid">

                    <div class="post-entry-1-contents">
                        <span class="meta">Founder</span>
                        <h2>Benjamin Lee</h2>
                        <p>Software Engineering </br>Undergraduate</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-5">
                <div class="post-entry-1 h-100 person-1 red">

                    <img src="/image/vincent.jpg" alt="Image" class="img-fluid">

                    <div class="post-entry-1-contents">
                        <span class="meta">Founder</span>
                        <h2>Liuyang Zheng</h2>
                        <p>Software Engineering </br>Undergraduate</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-5">
                <div class="post-entry-1 h-100 person-1 green">

                    <img src="/image/marco.jpg" alt="Image" class="img-fluid">

                    <div class="post-entry-1-contents">
                        <span class="meta">Founder</span>
                        <h2>Marco Alvarez</h2>
                        <p>Software Engineering </br>Undergraduate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>