<!DOCTYPE html>
<html>

<head>
    <title>Instructor Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        img {
            width: 100%;
        }
    </style>
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center display-4 my-4">Intructor Upload Page</h1>
                <form action="/instructor/upload" method="POST" enctype="multipart/form-data">
                    <div class="custom-file mb-3">
                        <input type="file" name="file" id="file" class="custom-file-input">
                        <label for="file" class="custom-file-label">
                            Choose File
                        </label>
                    </div>
                    <input type="text" name="courseName" placeholder="Course Title" class="custom-file mb-3 pl-3">
                    <input type="text" name="author" placeholder="Author" class="custom-file mb-3 pl-3">
                    <textarea name="description" class="form-control rounded-0 mb-3 pl-3"
                        id="exampleFormControlTextarea1" rows="10" placeholder="Write your description."></textarea>
                    <label>Category</label>
                    <select name="categories" class="custom-file mb-3 pl-3">
                        <option value="web_development">Web Development</option>
                        <option value="mobile_apps">Mobile Apps</option>
                        <option value="game_development">Game Development</option>
                        <option value="databases">Databases</option>
                    </select>
                    <label>Difficulty</label>
                    <select name="difficulty" class="custom-file mb-3 pl-3">
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advance">Advance</option>
                    </select>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </form>
                <hr>

                <% files.forEach(function(image){ %>
                <div class="card card-body mb-3">
                    <img src="/instructor/image/<%= image.filename %>" alt="">
                </div>
                <% }); %>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>

</body>

</html>