<% include partials/header %>

<!-- First Section of web page -->
<div class="ftco-blocks-cover-1">

	<div class="site-section-cover overlay">
		<div class="container">
			<div class="row align-items-center ">
				<div class="col-md-5 mt-5 pt-5">
					<span class="text-cursive h5 text-red">Welcome To Our Website</span>
					<h1 class="mb-3 font-weight-bold text-black">coding for {kids}</h1>
					<p style="color:darkslategrey;">Kids-friendly courses for your child</p>
				</div>
				<div class="col-md-6 ml-auto align-self-end">
					<img src="/image/landing_page.png" alt="Image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Second section of web page -->
<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="block-2 red">
					<span class="wrap-icon">
							<span><img src="/image/programming_icon.png" alt="Image" class="img-fluid"></span>
					</span>
					<h2>Java</h2>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="block-2 yellow">
					<span class="wrap-icon">
							<span><img src="/image/programming_icon.png" alt="Image" class="img-fluid"></span>
					</span>
					<h2>HTML</h2>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="block-2 teal">
					<span class="wrap-icon">
							<span><img src="/image/programming_icon.png" alt="Image" class="img-fluid"></span>
					</span>
					<h2>Python</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Third Section of Web page -->
<div class="site-section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-5 mb-md-0">
				<img src="/image/sjsu_logo.png" alt="Image" class="img-fluid">
			</div>
			<div class="col-md-5 ml-auto pl-md-5">
				<span class="text-cursive h5 text-red">About Us</span>
				<h3 class="text-black">Coding lessons made for kids</h3>
				<p><span>We are a team of students from San Jose State University, who aspire to provide a platform for kids to learn coding. 
						In recent years, coding and learning camps have started to rise in popularity, especially in tech cities. 
						We believe that learning starts early, and we hope that our content will be able to help kids learn effectively.</span></p>

				<p class="mt-5"><a href="/about_us" class="btn btn-warning py-4 btn-custom-1">More About Us</a></p>
			</div>
		</div>
	</div>
</div>

<div class="site-section py-5 bg-warning">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 d-flex">
				<h2 class="text-white m-0">Bring Fun Life To Your Kids</h2>
				<a href="/register" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Get Started</a>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>